---
---

@import "{{ site.theme }}";

/* Esto hace que el cuerpo sea más ancho (aprox 1200px) */
.main-content {
  max-width: 1800px !important;
  padding: 2rem 4rem !important;
}

/* Ajuste para que el encabezado también se estire */
header {
  width: 1800px !important;
  max-width: 100% !important;
  margin: 0 auto !important;
}
