---
---

@import "{{ site.theme }}";

/* FORZAR ANCHURA AGRESIVAMENTE */

/* Atacamos al ID específico y a la clase a la vez para tener máxima prioridad */
div#main_content_wrap .inner,
div#header_wrap .inner,
.inner {
  max-width: 95% !important;       /* Ocupa el 95% de la pantalla */
  width: 1600px !important;        /* Forzamos un tamaño gigante */
  padding-left: 2rem !important;   /* Reducimos el relleno lateral */
  padding-right: 2rem !important;
}

/* Un pequeño cambio de color para confirmar que se ha actualizado (Gris muy claro) */
body {
  background-color: #f9f9f9 !important;
}
