---
---

@import "{{ site.theme }}";

/* EN MERLOT, LA CAJA SE LLAMA .inner */
.inner {
  max-width: 1400px !important; /* Aquí controlas el ancho máximo */
  width: 90% !important;        /* Ocupará el 90% de la pantalla si es menor */
  margin: 0 auto !important;
}

/* Ajuste para que el texto no se pegue a los bordes si la pantalla es pequeña */
#main_content {
  padding-top: 2rem;
}

body { background-color: pink !important; }
